
.footer {  
    background:  $light-blue;
    margin-bottom: $xl-size;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1rem;
    margin-top: 14%;
    color: rgb(250, 233, 233);
}